/* style.css */

/* general style */
body {
  padding: 0px;
  margin: 0px;
}

.container {
  display: grid;
  margin-left: 0px;
}

.col {
  padding-left: 0px;
  padding-right: 0px;
}

.dummy {
  background-color: gray;
  width: 100%;
  padding-top: 66.67%;
}

.trick-tag-container {
  display: flex;
  margin-bottom: 10px;
  padding: 0px;
}

.trick-tag {
  background-color: gray;
  color: white;
  border-radius: 20px;
  border: 1px solid gray;
  width: fit-content;
  padding: 3px 7px;
  margin-right: 3px;
}

.flex-container {
  display: flex;
  margin-bottom: 10px;
  padding: 0px;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container > div {
  margin-right: 20px;
  margin-bottom: 20px;
}

.btn-icon {

}

.btn-icon:hover {

}

.caret-off::before {
  display: none !important;
}
.caret-off::after {
  display: none !important;
}

.dropdown-menu {
  width: max-content;
}

.div-block {
  display: block;
}

.add-landed-btn, .add-target-btn {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

section {
  margin-bottom: 3rem;
}

.search-bar {
  width: 25%;
  min-width: 16rem;
}



/* home page style*/
#recommended-div {
  padding-left: 50px;
  padding-bottom: 50px;
}

#recommended-header > h3 {
  display: inline;
}

.card-title > .trick-name {
  display: inline;
}

.card-title > div {
  display: inline;
}

.home-card {
  width: 25%;
  min-width: 16rem;

}





/* personal log page style */
.tricks-header > h3 {
  display: inline;
}

.trick-link {
  padding: 10px;
}



/* trick detail page style */
/*
.nav-link.active {
  color: #FFCA47 !important;
}
*/